.clothing-menu {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  max-height: 200px;
  overflow-y: auto;
  width: 250px;
  border-radius: 8px;
  text-align: left;
  z-index: 10;
}

.clothing-carousel {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.clothing-item {
  padding: 8px;
  background-color: #333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
}

.clothing-item.selected {
  background-color: #555;
}

.clothing-item:hover {
  background-color: #444;
}

@media only screen and (max-width: 768px) {
  .clothing-menu {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; /* Меню занимает всю ширину */
    max-height: 150px; /* Уменьшенная высота */
    padding: 5px;
    border-radius: 0; /* Убираем закругления */
  }

  .clothing-carousel {
    flex-direction: row; /* Делаем карусель горизонтальной */
    gap: 10px;
    overflow-x: auto; /* Прокрутка по горизонтали */
    padding-bottom: 5px;
  }

  .clothing-item {
    flex: 0 0 auto; /* Элементы не растягиваются */
    width: 80px; /* Фиксированная ширина элемента */
    text-align: center;
    font-size: 12px; /* Уменьшенный размер текста */
  }
}